<header class="search-header">
   <div class="logo js_logo">
      <i class="iconfont icon-ketang"></i>
   </div>
   <div class="search-wrapper">
      <div class="search-btn js_searchBtn">
         <i class="iconfont icon-search"></i>
         <p class="tip js_searchtip"><%=searchWord ? searchWord : '请输入搜索关键字'%></p>
      </div>
   </div>
   <%=sort%>
</header>