<div class="sort js_sort">
   <div class="sort-btn">
      <p class="current-sort js_currentSort">综合排序</p>
      <i class="iconfont icon-arrowdown arrow-down"></i>
   </div>
   <ul class="sort-menu">
      <li class="menu-item active">综合排序</li>
      <li class="menu-item">人气排序</li>
      <li class="menu-item">价格最低</li>
      <li class="menu-item">价格最高</li>
   </ul>
</div>