<header class="header-wrapper">
   <div class="logo js_logo">
      <i class="iconfont icon-ketang"></i>
      <h1 class="title"><%=title%></h1>
   </div>
   <div class="search-btn js_searchBtn">
      <i class="iconfont icon-search"></i>
   </div>
</header>