<div class="hot-search">
   <div class="title">
      <i class="iconfont icon-hot"></i>
      <span>热门搜索</span>
   </div>
   <ul class="hot-list">
      <%data.forEach(item => {%>
         <li class="hot-item"><%=item%></li>
      <%})%>
   </ul>
</div>