<div class="search-box js_searchBox">
   <div class="search-bar">
      <div class="search-input">
         <input type="text" class="input-search" name="keywords" placeholder="请输入搜索关键字">
         <div class="search-action">
            <i class="iconfont icon-clear clear"></i>
            <i class="iconfont icon-search search"></i>
         </div>
      </div>
      <div class="cancel">取消</div>
   </div>
   <div class="sub-search">
      <%=hotSearch%>
      <%=searchRecords%>
   </div>
</div>