$color-default: #222;
$color-deep-gray: #71777D;
$color-gray: #999;
$color-light-gray: #F3F5F7;
$color-red: #F01414;
$color-blue: #23b8ff;

$font-size-default: 0.18rem;
$font-size-large: 0.2rem;
$font-size-small: 0.16rem;
$font-size-mini: 0.14rem;
